.techonologies {
    width: 80%;
    display: block;
    margin: 0 auto;
    padding: 20px;
}

.techonologies__title {
    color: white;
    font-size: 3rem;
    text-align: right;
    padding-top: 20vh;
    border-bottom: solid 1px white;
}

.techonologies__content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10vh;
    padding-bottom: 20vh;
}

.techonologies__content__left {
    width: 40%;
    padding: 20px;
}

.techonologies__content__left p {
    margin-top: 10px;
    color: white;
    font-size: 1.2rem;
}

.techonologies__content__right {
    width: 50%;
    border: solid 1px #444;
    border-radius: 10px;
    height: 500px;
    overflow-y: hidden;
}

.techonologies__content__right_item {
    width: 90%;
    height: 200px;
    margin-bottom: 10px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    animation: scrollInfinity 25s linear infinite;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@keyframes scrollInfinity {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-630px);
    }
}

.techonologies__content__right_item img {
    width: 100px;
    filter: grayscale(1);
}
