.section {
    width: 100%;
    padding-top: 70px;
    height: 100vh;
    overflow: hidden;
    background: radial-gradient(circle at 80% 80%, rgba(40, 44, 53, 1) 0%, rgba(12, 16, 25, 1) 50%);
}

.section__title {
    font-weight: 700;
    width: 85%;
    margin: 200px auto;
}

.section__title__name {
    color: #fff;
    font-size: 6rem;
    margin-top: -40px;
}

.section__title__job {
    color: rgba(40, 44, 53, 1);
    font-size: 3rem;
}

.section__title__footer {
    width: 100%;
    position: absolute;
    bottom: 0px;
}

.section__title__footer_absolute {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: top;
    position: relative;
    overflow: hidden;
    height: 140px;
}

.section__title__footer_welcome {
    font-size: 10rem;
    text-transform: uppercase;
    font-weight: bold;
    color: rgba(40, 44, 53, 1);
}

.section__title__footer_networks ul {
    display: flex;
}

.section__title__footer_networks ul li {
    margin: 0px 10px;
    opacity: 0.7;
}

.section__title__footer_networks ul li:hover {
    opacity: 1;
}
